<% layout('./layouts/boilerplate') -%>

    <body>
        <div class="dashboardContainer" style="gap: 10px;">
            <nav aria-label="breadcrumb" class="breadcrumbDashboard">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                        <%= note.title %>
                    </li>
                </ol>
            </nav>
            <div class="d-flex" style=" height: fit-content; justify-content: space-between;">
                <h1 style="font-size: 30px;">View Note</h1>
                <form action="/note/<%= note.id %>?_method=DELETE" method="post">
                    <button class="btn btn-primary btn_ btnFill_ deleteBtn"
                        style="border-radius: 25px !important; justify-content: space-between; width: fit-content;">Delete</button>
                </form>
            </div>
            <form action="/note/<%= note._id %>?_method=PUT" method="post">
                <div>
                    <input type="text" class="form-control noBorder noBLradius noBRradius" id="exampleFormControlInput1"
                        placeholder="Title" style="font-weight: 500;" value="<%= note.title %>" name="title">
                    <textarea class="form-control noBorder noULradius noURradius" id="exampleFormControlTextarea1"
                        rows="15" placeholder="Take a note..." name="body"><%= note.body %></textarea>
                </div><button type="submit" class="btn btn-primary btn_ btnFill_"
                    style="border-radius: 25px !important; justify-content: space-between; width: fit-content; margin-top: 20px;">Update</button>
            </form>
        </div>
    </body>